<h1 class="display-4">Processus d'inscription des étudiants à l'ESP</h1><br><br>
<div class="row margin-row">
    <div class="col-lg-6 bordure">
        <h2><span class="badge badge-pill badge-info">Nouveau</span></h2><br>
        <ol>
            <li class="exception">Autorisation d'inscription</li>
            <li class="exception" >Saisie autorisation par la scolarité</li>
            <li>Récupérer sa quittance de paiement à la scolarité</li>
            <li>Remplir sa fiche d'inscription et accepter le réglement intérieur de l'ESP au niveau de la plateforme d'inscription</li>
            <li>Faire sa visite médicale</li>
            <li>Payer les frais  d'assurance et les frais d'inscription à la bibliothèque de l'ESP</li>
            <li>Faire l'inscription en ligne <a href="http://preinscriptionenligne.ucad.sn">http://preinscriptionenligne.ucad.sn</a></li>
            <li>Payer les droits d'inscription à l'agence comptable de l'UCAD ou ses partenaires</li>
            <li>A retourner à la scolarité le reçu de paiement et la fiche d'inscription dument remplie</li>
            <li>Retirer son certificat d'inscription et et sa carte étudiant à la scolarité</li>
        </ol>
    </div><br>
    <div class="col-lg-6 bordure part2">
        <h2><span class="badge badge-pill badge-info">Ancien</span></h2><br>
        <ol>
            <li class="exception">Vérification résultat de l'étudiant</li>
            <li>Récupérer sa quittance de paiement à la scolarité</li>
            <li>Remplir sa fiche d'inscription et accepter le réglement intérieur de l'ESP au niveau de la plateforme d'inscription</li>
            <li>Faire sa visite médicale</li>
            <li>Payer les frais  d'assurance et les frais d'inscription à la bibliothèque de l'ESP</li>
            <li>Faire l'inscription en ligne <a href="http://preinscriptionenligne.ucad.sn">http://preinscriptionenligne.ucad.sn</a></li>
            <li>Payer les droits d'inscription à l'agence comptable de l'UCAD ou ses partenaires</li>
            <li>A retourner à la scolarité le reçu de paiement et la fiche d'inscription dument remplie</li>
            <li>Retirer son certificat d'inscription et et sa carte étudiant à la scolarité</li>
        </ol>
    </div>
</div><br>

<div class="alert alert-danger margin-alert">
    <strong>NB:</strong> Chaque étudiants des formations prises en charge par les tiers obtient un code numérique de 5 chiffres au niveau de la scolarité, puis il le présente à la caisse de l'agent comptable de l'ESP pour le paiement des écolage.
</div><br>

<h1 class="display-4">Quelques informations concernant la plateforme</h1><br><br>

<div id="accordion">
    <div class="row margin-row">

        <div class="col-sm-6">

            <div class="card" [ngStyle]="{'background-color': partOne}">
                <div class="card-header">
                    <a class="card-link"  aria-controls="collapseOne" (click)="onClick()" [ngStyle]="{'color': linkcolor}">
                        <div>
                            <fa-icon [icon]="faQuestionCircle"  [ngStyle]="{'color': iconcolor}" ></fa-icon>
                            Collapsible Group Item #1
                        </div>
                    </a>
                </div>
                <div id="collapseOne" class="collapse" [ngbCollapse]="isCollapsed" data-parent="#accordion">
                    <div class="card-body color">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </div>
            </div><br>

            <div class="card" [ngStyle]="{'background-color': partThree}">
                <div class="card-header">
                    <a class="card-link"  aria-controls="collapseThree" (click)="onClickThree()" [ngStyle]="{'color': linkcolorThree}">
                        <div>
                            <fa-icon [icon]="faQuestionCircle"  [ngStyle]="{'color': iconcolorThree}" ></fa-icon>
                            Collapsible Group Item #1
                        </div>
                    </a>
                </div>
                <div id="collapseThree" class="collapse" [ngbCollapse]="isCollapsedThree" data-parent="#accordion">
                    <div class="card-body color">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </div>
            </div><br>

        </div>

        <div class="col-sm-6">

            <div class="card" [ngStyle]="{'background-color': partTwo}">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse"  aria-controls="collapsetwo"  (click)="onClicktwo()" [ngStyle]="{'color': linkcolortwo}">
                        <div>
                            <fa-icon [icon]="faQuestionCircle" [ngStyle]="{'color': iconcolortwo}" ></fa-icon>
                            Collapsible Group Item #1
                        </div>
                    </a>
                </div>
                <div id="collapsetwo" class="collapse" [ngbCollapse]="isCollapsedTwo" data-parent="#accordion">
                    <div class="card-body color">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </div>
            </div><br>

        </div>

    </div>
</div>
