@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */
.margin-row {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 25px;
}

.bordure {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
}

.margin-alert {
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 25px;
}

.exception:before {
  background: #74d0f1;
}

fa-icon {
  font-size: 25px;
}

.color {
  background-color: white;
}

ol {
  counter-reset: step;
} /* on initialise et nomme un compteur */
li {
  list-style-type: none;
  counter-increment: step; /* on incrémente le compteur à chaque nouveau li */
  margin-bottom: 10px;
  margin-left: 0px;
}
li:before {
  content: counter(step); /* on affiche le compteur */
  padding: 6px 10px 6px;
  margin-right: 8px;
  vertical-align: top;
  background: #678;
  -moz-border-radius: 60px;
  border-radius: 60px;
  font-weight: bold;
  font-size: 0.8em;
  color: white;
}

h1 {
  text-align: center;
  font-size: 35px;
}

h2 {
  text-align: center;
}

@media all and (max-width: 500px) {
  .margin-row {
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 15px;
  }

  .bordure {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    padding: 0px 0px 0px 0px;
  }

  .display-4 {
    text-align: center;
    font-size: 20px;
  }

  h2 {
    text-align: center;
    font-size: 25px;
  }

  .margin-alert {
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    font-size: 13px;
  }

  li {
    list-style-type: none;
    counter-increment: step; /* on incrémente le compteur à chaque nouveau li */
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 11px;
  }

  li:before {
    content: counter(step); /* on affiche le compteur */
    padding: 2px 4px 2px;
    margin-right: 0px;
    vertical-align: top;
    background: #678;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 0.8em;
    color: white;
  }

  .part2 {
    margin-top: 10px;
  }

  fa-icon {
    font-size: 18px;
  }

  .color {
    background-color: white;
    font-size: 12px;
  }

  a {
    font-size: 12px;
  }
}

@media all and (max-width: 1024px) {
  .margin-row {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
  }

  .bordure {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
  }
  .margin-alert {
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
  }

  col-lg-6 {
    padding: 2px 2px 2px 2px;
  }

  .part2 {
    margin-top: 10px;
  }
}
