<div class="container">
    <nav class="navbar navbar-light bg-light justify-content-between" style="margin-bottom:30px;">
        <a class="navbar-brand">Recherche</a>
        <form class="form-inline" (ngSubmit)="rechercher()">
            <div class="form-group col-md-4">
                <select id="inputState" class="form-control" [formControl]="choix">
                    <option selected value="aucun">Entites</option>
                    <option value="etudiant">Etudiant</option>
                    <option value="assureur">Assureur</option>
                    <option value="agent">Agent Biblio</option>
                    <option value="medecin">Medecin</option>
                </select>
            </div>
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [formControl]="search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
</div>







<div class="container">

    <!-- Etudiant -->
    <div class="table-responsive" id="entitieEtudiant" *ngIf="etudiant">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
                <th><span>Num Identifiant</span> </th>
                <th><span>Prenom</span> </th>
                <th ><span>Nom</span> </th>
                <th ><span>Date Naissance</span> </th>
                <th><span>Lieu Naissance</span> </th>
                <th><span>Telephone</span> </th>
                <th ></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ etudiant.numIdentifiant }}</td>
                <td>{{ etudiant.user.firstName }}</td>
                <td>{{ etudiant.user.lastName }}</td>
                <td>{{ etudiant.dateNaissance | date:'mediumDate' }}</td>
                <td>{{ etudiant.lieuNaissance }}</td>
                <td>{{ etudiant.telephone }}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/etudiant', etudiant.id, 'view']"
                                class="btn btn-info btn-sm">
                            <fa-icon icon="eye"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>

                        <button type="submit"
                                [routerLink]="['/etudiant', etudiant.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon icon="pencil-alt"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>

                        <button type="submit" (click)="delete(etudiant)"
                                class="btn btn-danger btn-sm">
                            <fa-icon icon="times"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <!-- Assureur -->
    <div class="table-responsive" id="entitieAss" *ngIf="assureur">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
                <th><span>Matricule</span></th>
                <th><span>Email</span></th>
                <th><span>Nom</span></th>
                <th><span>Prenom</span></th>
                <th><span>User</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ assureur.matricule }}</td>
                <td>{{ assureur.email }}</td>
                <td>{{ assureur.nom }}</td>
                <td>{{ assureur.prenom }}</td>
                <td>
                    {{ assureur.user?.id }}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/assureur', assureur.id, 'view']"
                                class="btn btn-info btn-sm">
                            <fa-icon icon="eye"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>

                        <button type="submit"
                                [routerLink]="['/assureur', assureur.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon icon="pencil-alt"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>

                        <button type="submit" (click)="delete(assureur)"
                                class="btn btn-danger btn-sm">
                            <fa-icon icon="times"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <!-- Medecin -->
    <div class="table-responsive" id="entitieMedecin" *ngIf="medecin">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
                <th><span>Matricule</span></th>
                <th><span>Email</span></th>
                <th><span jhiTranslate="inscriptionEspApp.medecin.nom">Nom</span></th>
                <th><span jhiTranslate="inscriptionEspApp.medecin.prenom">Prenom</span></th>
                <th><span jhiTranslate="inscriptionEspApp.medecin.user">User</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ medecin.matricule }}</td>
                <td>{{ medecin.email }}</td>
                <td>{{ medecin.nom }}</td>
                <td>{{ medecin.prenom }}</td>
                <td>
                    {{ medecin.user?.id }}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/medecin', medecin.id, 'view']"
                                class="btn btn-info btn-sm">
                            <fa-icon icon="eye"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>

                        <button type="submit"
                                [routerLink]="['/medecin', medecin.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon icon="pencil-alt"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>

                        <button type="submit" (click)="delete(medecin)"
                                class="btn btn-danger btn-sm">
                            <fa-icon icon="times"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <!-- Agent Bibliotheque -->
    <div class="table-responsive" id="entities" *ngIf="agentBiblio">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
                <th><span>Matricule</span></th>
                <th><span>Email</span></th>
                <th><span>Nom</span></th>
                <th><span>Prenom</span></th>
                <th><span>User</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ agentBiblio.matricule }}</td>
                <td>{{ agentBiblio.email }}</td>
                <td>{{ agentBiblio.nom }}</td>
                <td>{{ agentBiblio.prenom }}</td>
                <td>
                    {{ agentBiblio.user?.id }}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/agent-biblio', agentBiblio.id, 'view']"
                                class="btn btn-info btn-sm">
                            <fa-icon icon="eye"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>

                        <button type="submit"
                                [routerLink]="['/agent-biblio', agentBiblio.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon icon="pencil-alt"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>

                        <button type="submit" (click)="delete(agentBiblio)"
                                class="btn btn-danger btn-sm">
                            <fa-icon icon="times"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


</div>









<div class="container" style="margin-bottom:30px;">





    <div class="card">
        <h5 class="card-body bg bg-primary" style="color:white;">
            Ci-dessous vous pouvez importer des fichiers excel pour la base de donnees .
        </h5>
    </div>




</div>

<div class="container" style="margin-bottom:30px;">


    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Etudiants Importation</h5>
                    <p class="card-text">Appuyer sur le bouton pour charger une liste d'etudiants .</p>
                    <input href="" class="btn btn-primary" type="file" value="Importer" (change)="incomingfile($event)" accept=".xlsx">
                    <button type="button" class="btn btn-info" (click)="Upload()" >Upload</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <form [formGroup]="fileUploadForm" (ngSubmit)="onFormSubmit1()">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Formations Importation</h5>
                        <p class="card-text">Appuyer sur le bouton pour chrager une liste de formations .</p>
                        <input class="btn btn-primary" type="file" value="Importer" name="myfile" (change)="onFileSelect($event)">
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </div>
            </form>
        </div>


    </div>

</div>
<table>
    <tr>
        <th>Num</th>
        <th>Nom</th>
        <th>Prenom</th>
    </tr>
    <tr *ngFor="let key of keys">
        <td>nom ici</td>
        <td>ici}}</td>
        <td>ici</td>
    </tr>
</table>



<div class="container" style="margin-bottom:30px;">


    <div class="row">
        <div class="col-sm-6">
            <form [formGroup]="fileUploadForm" (ngSubmit)="onFormSubmit()">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Departements Importation</h5>
                        <p class="card-text">Appuyer sur le bouton pour charger une liste des departements</p>
                        <input class="btn btn-primary" type="file" value="Importer" name="myfile" (change)="onFileSelect($event)">
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Niveaux Importation</h5>
                    <p class="card-text">Appuyer sur le bouton pour chrager une liste de niveaux .</p>
                    <input href="" class="btn btn-primary" type="file" value="Importer">
                </div>
            </div>
        </div>


    </div>

</div>








<div class="container" style="margin-bottom:30px;">





    <div class="card">
        <h5 class="card-body bg bg-success" style="color:white;">
            Ci-dessous vous pouvez exproter les listes de la classe .
        </h5>
    </div>




</div>

<div class="container" style="margin-bottom:30px;">


    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Etudiants Exportation</h5>
                    <p class="card-text">Appuyer sur le bouton avoir la liste des etudiants .</p>
                    <input href="" class="btn btn-success" type="button" value="Exporter">
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Formations Importation</h5>
                    <p class="card-text">Appuyer sur le bouton avoir la liste des formations .</p>
                    <input href="" class="btn btn-success" type="button" value="Exporter">
                </div>
            </div>
        </div>


    </div>

</div>



<div class="container" style="margin-bottom:30px;">


    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Departements Importation</h5>
                    <p class="card-text">Appuyer sur le bouton pour avoir la liste des departements .</p>
                    <button class="btn btn-success" id="exportable" (click)="onExport()">Exporter</button>
                    <!--<a (click)="onExport()" style="cursor: pointer">Export to Excel</a>-->
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Niveaux Importation</h5>
                    <p class="card-text">Appuyer sur le bouton pour avoir la liste des niveaux .</p>
                    <input href="" class="btn btn-success" type="button" value="Exporter">
                </div>
            </div>
        </div>
    </div>

</div>
