<div>
    <h2 id="page-heading">
        <span jhiTranslate="inscriptionEspApp.agentScolarite.home.title">Agent Scolarites</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-agent-scolarite" [routerLink]="['/agent-scolarite/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="inscriptionEspApp.agentScolarite.home.createLabel">
            Create a new Agent Scolarite
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="agentScolarites?.length === 0">
        <span jhiTranslate="inscriptionEspApp.agentScolarite.home.notFound">No agentScolarites found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="agentScolarites && agentScolarites.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="inscriptionEspApp.agentScolarite.matricule">Matricule</span></th>
                    <th scope="col" ><span jhiTranslate="inscriptionEspApp.agentScolarite.email">Email</span></th>
                    <th scope="col" ><span jhiTranslate="inscriptionEspApp.agentScolarite.motDePasse">Mot De Passe</span></th>
                    <th scope="col" ><span jhiTranslate="inscriptionEspApp.agentScolarite.nom">Nom</span></th>
                    <th scope="col" ><span jhiTranslate="inscriptionEspApp.agentScolarite.prenom">Prenom</span></th>
                    <th scope="col" ><span jhiTranslate="inscriptionEspApp.agentScolarite.user">User</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let agentScolarite of agentScolarites ;trackBy: trackId">
                    <td><a [routerLink]="['/agent-scolarite', agentScolarite.id, 'view']">{{ agentScolarite.id }}</a></td>
                    <td>{{ agentScolarite.matricule }}</td>
                    <td>{{ agentScolarite.email }}</td>
                    <td>{{ agentScolarite.motDePasse }}</td>
                    <td>{{ agentScolarite.nom }}</td>
                    <td>{{ agentScolarite.prenom }}</td>
                    <td>
                        {{ agentScolarite.user?.id }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/agent-scolarite', agentScolarite.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/agent-scolarite', agentScolarite.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(agentScolarite)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
