.material-icons {
  font-family: 'Material Icons' !important;
}

.title {
  border-radius: 25px;
  height: 25px;
  background-color: #3f51b5;
  color: white;
  border: 0em;
  padding-left: 20px;
}

.mat-form-field + .mat-form-field {
  margin-left: 1px;
}

.mat-form-field {
  width: 400px;
  font-size: 13px;
}

.etat {
  width: 350px;
  height: 320px;
}

.mat-stepper-vertical {
  margin-left: 1px;
}

.titlee {
  border-radius: 25px;
  height: 25px;
  background-color: #3f51b5;
  color: white;
  border: 0em;
  padding-left: 5px;
  margin-inline-end: 90em;
}
img {
  width: 60px;
  height: 60px;
}

h6 {
  font-weight: bold;
}

.annee {
  border-radius: 25px;
  height: 25px;
  background-color: #3f51b5;
  color: white;
  border: 0em;
  padding-left: 5px;
  width: 275px;
}

h2 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.ficheIns {
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 0px solid green;
}

.ng-invalid:not(form) {
  border-left: 0px solid red;
}

@media all and (min-width: 500px) and (max-width: 570px) {
  .mat-form-field {
    width: 300px;
    font-size: 13px;
  }

  .annee {
    width: 250px;
    padding-left: 3px;
    border-radius: 20px;
    height: 20px;
    font-size: 13px;
  }

  h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }
}

@media all and (max-width: 500px) {
  .mat-form-field {
    width: 153px;
    font-size: 10px;
  }

  img {
    width: 30px;
    height: 30px;
  }

  .annee {
    width: 158px;
    padding-left: 3px;
    border-radius: 20px;
    height: 20px;
    font-size: 10px;
  }

  .etat {
    width: 215px;
    height: 360px;
  }

  .etatbutton {
    font-size: 10px;
  }

  h2 {
    text-align: center;
    font-size: 10px;
    font-weight: bold;
  }

  h6 {
    font-weight: bold;
    font-size: 10px;
  }

  .titlee {
    padding-left: 3px;
    border-radius: 20px;
    height: 20px;
    font-size: 12px;
  }

  .mat-stepper-vertical {
    margin-left: 0px;
  }

  .container-sm {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
}
