<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-niveau-heading" jhiTranslate="inscriptionEspApp.niveau.home.createOrEditLabel">Create or edit a Niveau</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="inscriptionEspApp.niveau.codeNiveau" for="field_codeNiveau">Code Niveau</label>
                    <input type="text" class="form-control" name="codeNiveau" id="field_codeNiveau"
                           formControlName="codeNiveau"/>
                    <div *ngIf="editForm.get('codeNiveau')!.invalid && (editForm.get('codeNiveau')!.dirty || editForm.get('codeNiveau')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('codeNiveau')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('codeNiveau')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 3 }">
                        This field is required to be at least 3 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="inscriptionEspApp.niveau.libelleLong" for="field_libelleLong">Libelle Long</label>
                    <input type="text" class="form-control" name="libelleLong" id="field_libelleLong"
                           formControlName="libelleLong"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="inscriptionEspApp.niveau.formation" for="field_formation">Formation</label>
                    <select class="form-control" id="field_formation" name="formation" formControlName="formation">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="formationOption.id === editForm.get('formation')!.value?.id ? editForm.get('formation')!.value : formationOption" *ngFor="let formationOption of formations; trackBy: trackById">{{ formationOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
