<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="niveau">
            <h2><span jhiTranslate="inscriptionEspApp.niveau.detail.title">Niveau</span> {{ niveau.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="inscriptionEspApp.niveau.codeNiveau">Code Niveau</span></dt>
                <dd>
                    <span>{{ niveau.codeNiveau }}</span>
                </dd>
                <dt><span jhiTranslate="inscriptionEspApp.niveau.libelleLong">Libelle Long</span></dt>
                <dd>
                    <span>{{ niveau.libelleLong }}</span>
                </dd>
                <dt><span jhiTranslate="inscriptionEspApp.niveau.formation">Formation</span></dt>
                <dd>
                    <div *ngIf="niveau.formation">
                        <a [routerLink]="['/formation', niveau.formation?.id, 'view']">{{ niveau.formation?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/niveau', niveau.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
