<div>
    <h2 id="page-heading">
        <span jhiTranslate="inscriptionEspApp.agentBiblio.home.title">Agent Biblios</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-agent-biblio" [routerLink]="['/agent-biblio/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="inscriptionEspApp.agentBiblio.home.createLabel">
            Create a new Agent Biblio
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="agentBiblios?.length === 0">
        <span jhiTranslate="inscriptionEspApp.agentBiblio.home.notFound">No agentBiblios found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="agentBiblios && agentBiblios.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="inscriptionEspApp.agentBiblio.matricule">Matricule</span></th>
                    <th scope="col" ><span jhiTranslate="inscriptionEspApp.agentBiblio.email">Email</span></th>
                    <th scope="col" ><span jhiTranslate="inscriptionEspApp.agentBiblio.motDePasse">Mot De Passe</span></th>
                    <th scope="col" ><span jhiTranslate="inscriptionEspApp.agentBiblio.nom">Nom</span></th>
                    <th scope="col" ><span jhiTranslate="inscriptionEspApp.agentBiblio.prenom">Prenom</span></th>
                    <th scope="col" ><span jhiTranslate="inscriptionEspApp.agentBiblio.user">User</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let agentBiblio of agentBiblios ;trackBy: trackId">
                    <td><a [routerLink]="['/agent-biblio', agentBiblio.id, 'view']">{{ agentBiblio.id }}</a></td>
                    <td>{{ agentBiblio.matricule }}</td>
                    <td>{{ agentBiblio.email }}</td>
                    <td>{{ agentBiblio.motDePasse }}</td>
                    <td>{{ agentBiblio.nom }}</td>
                    <td>{{ agentBiblio.prenom }}</td>
                    <td>
                        {{ agentBiblio.user?.id }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/agent-biblio', agentBiblio.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/agent-biblio', agentBiblio.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(agentBiblio)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
