<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="agentBiblio">
            <h2><span jhiTranslate="inscriptionEspApp.agentBiblio.detail.title">Agent Biblio</span> {{ agentBiblio.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="inscriptionEspApp.agentBiblio.matricule">Matricule</span></dt>
                <dd>
                    <span>{{ agentBiblio.matricule }}</span>
                </dd>
                <dt><span jhiTranslate="inscriptionEspApp.agentBiblio.email">Email</span></dt>
                <dd>
                    <span>{{ agentBiblio.email }}</span>
                </dd>
                <dt><span jhiTranslate="inscriptionEspApp.agentBiblio.motDePasse">Mot De Passe</span></dt>
                <dd>
                    <span>{{ agentBiblio.motDePasse }}</span>
                </dd>
                <dt><span jhiTranslate="inscriptionEspApp.agentBiblio.nom">Nom</span></dt>
                <dd>
                    <span>{{ agentBiblio.nom }}</span>
                </dd>
                <dt><span jhiTranslate="inscriptionEspApp.agentBiblio.prenom">Prenom</span></dt>
                <dd>
                    <span>{{ agentBiblio.prenom }}</span>
                </dd>
                <dt><span jhiTranslate="inscriptionEspApp.agentBiblio.user">User</span></dt>
                <dd>
                    {{ agentBiblio.user?.id }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/agent-biblio', agentBiblio.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
