<div>
    <div class="container-fluid" style="margin-bottom: 100px;">

        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="#" style="margin-right: 50%;">Rechercher un Etudiant</a>

            <div >

                <form class="form-inline" (ngSubmit)="rechercher()">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [formControl]="search">
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>

    <div class="container-fluid">

        <table class="table">
            <thead class="thead-light">
            <tr>
                <th>Numero Etudiant</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Lieu de Naissance</th>
                <th>Date de Naissance</th>
                <th>Etat</th>
            </tr>
            </thead>
            <tbody *ngIf="etudiant">
            <tr>
                <td>{{etudiant?.numIdentifiant}}</td>
                <td>{{etudiant?.user?.firstName}}</td>
                <td>{{etudiant?.user?.lastName}}</td>
                <td>{{etudiant?.lieuNaissance}}</td>
                <td>{{etudiant?.dateNaissance}}</td>
                <td>{{inscription?.enRegleBiblio}}</td>
            </tr>

            </tbody>
        </table>

        <div class="panel panel-info" *ngIf="!etudiant">
            <div class="form-text text-danger">Etudiant Non Trouvé</div>
        </div>

        <button class="btn btn-primary"  (click)="regler()">Regler</button>
        <p *ngIf="isDone">payement effectué.</p>
        <p class="form-text text-danger" *ngIf="isNotDone">payement non effectué.</p>

    </div>
</div>
