<div>
    <h2 id="page-heading">
        <span jhiTranslate="inscriptionEspApp.assureur.home.title">Assureurs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-assureur" [routerLink]="['/assureur/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="inscriptionEspApp.assureur.home.createLabel">
            Create a new Assureur
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="assureurs?.length === 0">
        <span jhiTranslate="inscriptionEspApp.assureur.home.notFound">No assureurs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="assureurs && assureurs.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="inscriptionEspApp.assureur.matricule">Matricule</span></th>
                    <th scope="col" ><span jhiTranslate="inscriptionEspApp.assureur.email">Email</span></th>
                    <th scope="col" ><span jhiTranslate="inscriptionEspApp.assureur.motDePasse">Mot De Passe</span></th>
                    <th scope="col" ><span jhiTranslate="inscriptionEspApp.assureur.nom">Nom</span></th>
                    <th scope="col" ><span jhiTranslate="inscriptionEspApp.assureur.prenom">Prenom</span></th>
                    <th scope="col" ><span jhiTranslate="inscriptionEspApp.assureur.user">User</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let assureur of assureurs ;trackBy: trackId">
                    <td><a [routerLink]="['/assureur', assureur.id, 'view']">{{ assureur.id }}</a></td>
                    <td>{{ assureur.matricule }}</td>
                    <td>{{ assureur.email }}</td>
                    <td>{{ assureur.motDePasse }}</td>
                    <td>{{ assureur.nom }}</td>
                    <td>{{ assureur.prenom }}</td>
                    <td>
                        {{ assureur.user?.id }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/assureur', assureur.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/assureur', assureur.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(assureur)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
