<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="assureur">
            <h2><span jhiTranslate="inscriptionEspApp.assureur.detail.title">Assureur</span> {{ assureur.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="inscriptionEspApp.assureur.matricule">Matricule</span></dt>
                <dd>
                    <span>{{ assureur.matricule }}</span>
                </dd>
                <dt><span jhiTranslate="inscriptionEspApp.assureur.email">Email</span></dt>
                <dd>
                    <span>{{ assureur.email }}</span>
                </dd>
                <dt><span jhiTranslate="inscriptionEspApp.assureur.motDePasse">Mot De Passe</span></dt>
                <dd>
                    <span>{{ assureur.motDePasse }}</span>
                </dd>
                <dt><span jhiTranslate="inscriptionEspApp.assureur.nom">Nom</span></dt>
                <dd>
                    <span>{{ assureur.nom }}</span>
                </dd>
                <dt><span jhiTranslate="inscriptionEspApp.assureur.prenom">Prenom</span></dt>
                <dd>
                    <span>{{ assureur.prenom }}</span>
                </dd>
                <dt><span jhiTranslate="inscriptionEspApp.assureur.user">User</span></dt>
                <dd>
                    {{ assureur.user?.id }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/assureur', assureur.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
