<div>
    <h2 id="page-heading">
        <span jhiTranslate="inscriptionEspApp.medecin.home.title">Medecins</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-medecin" [routerLink]="['/medecin/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="inscriptionEspApp.medecin.home.createLabel">
            Create a new Medecin
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="medecins?.length === 0">
        <span jhiTranslate="inscriptionEspApp.medecin.home.notFound">No medecins found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="medecins && medecins.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="inscriptionEspApp.medecin.matricule">Matricule</span></th>
                    <th scope="col" ><span jhiTranslate="inscriptionEspApp.medecin.email">Email</span></th>
                    <th scope="col" ><span jhiTranslate="inscriptionEspApp.medecin.motDePasse">Mot De Passe</span></th>
                    <th scope="col" ><span jhiTranslate="inscriptionEspApp.medecin.nom">Nom</span></th>
                    <th scope="col" ><span jhiTranslate="inscriptionEspApp.medecin.prenom">Prenom</span></th>
                    <th scope="col" ><span jhiTranslate="inscriptionEspApp.medecin.user">User</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let medecin of medecins ;trackBy: trackId">
                    <td><a [routerLink]="['/medecin', medecin.id, 'view']">{{ medecin.id }}</a></td>
                    <td>{{ medecin.matricule }}</td>
                    <td>{{ medecin.email }}</td>
                    <td>{{ medecin.motDePasse }}</td>
                    <td>{{ medecin.nom }}</td>
                    <td>{{ medecin.prenom }}</td>
                    <td>
                        {{ medecin.user?.id }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/medecin', medecin.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/medecin', medecin.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(medecin)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
