<div class="container-fluid" style="margin-bottom: 100px;">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#" style="margin-right: 50%;">Rechercher un Etudiant</a>

        <div >

            <form class="form-inline" (ngSubmit)="rechercher()">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [formControl]="search">
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>











<div class="container-fluid">



    <table class="table">
        <thead class="thead-light">
        <tr>
            <th>Numero Etudiant</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Lieu de Naissance</th>
            <th>Date de Naissance</th>
            <th>Sexe</th>
            <th>Apte</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{etudiant?.numIdentifiant}}</td>
            <td>{{etudiant?.user?.firstName}}</td>
            <td>{{etudiant?.user?.lastName}}</td>
            <td>{{etudiant?.lieuNaissance}}</td>
            <td>{{etudiant?.dateNaissance}}</td>
            <td>{{etudiant?.sexe}}</td>
            <td>{{inscription?.estApte}}</td>
        </tr>

        </tbody>
    </table>

    <div class="panel panel-info" *ngIf="!etudiant">
        <div class="form-text text-danger">Etudiant Non Trouvé</div>
    </div>

    <div class="input-group mb-3" style="margin-top: 100px;"></div>
        <button class="btn btn-outline-primary" type="button" (click)="apte()">Apte</button>

            <button *ngIf="buttonInapte" class="btn btn-outline-danger" type="button" (click)="desc()" style="margin-left: 20px;">Inapte</button>

        <p *ngIf="isDone">visite effectué.</p>
        <p class="form-text text-danger" *ngIf="isNotDone">visite non effectué.</p>
        <p *ngIf="isNotApte">
            <input type="text" class="form-control" placeholder="Ajouter un Descriptif" aria-label="Autre input type texte avec bouton" aria-describedby="texte-bouton">
            <button class="btn btn-outline-danger" type="button" (click)="inapte()">Valider</button>
        </p>
        <p *ngIf="isApte">Etudiant inapte.</p>
        <p class="form-text text-danger" *ngIf="notEtudiant">Aucun etudiant.</p>

</div>
