/* ==========================================================================
Main page styles
========================================================================== */
a {
  font-size: 1.2em;
}

.ngNavLink:active {
  border-top: 2px solid green !important;
  background-color: blue;
}

a:hover {
  border-top: 2px solid green !important;
}

li > a {
  color: black;
  font-size: 1.5em;
}

li > a:hover {
  border-top: 0px solid green !important;
  color: black;
  font-weight: normal;
}

h1 {
  text-align: center;
}

.padding-div {
  padding: 30px 30px 30px 30px;
}

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
    background-size: contain;
  }
}

@media all and (max-width: 500px) {
  li > a {
    color: black;
    font-size: 1em;
  }

  a {
    font-size: 1em;
  }
}
