<nav ngbNav #nav="ngbNav" class="nav-tabs">
    <ng-container ngbNavItem>
        <a ngbNavLink>FACULTES</a>
        <ng-template ngbNavContent>
            <ul>
                <li><a href="http://fst.ucad.sn" >Facultés des Sciences et Techniques</a></li>
                <li><a href="http://fmpos.ucad.sn" >Faculté de Medecine Pharmacie d’Odonto-Stomatologie</a></li>
                <li><a href="http://flsh.ucad.sn" >Faculté des Lettres et Sciences Humaines</a></li>
                <li><a href="http://faseg.ucad.sn" >Faculté des Sciences Economiques et de Gestion</a></li>
                <li><a href="http://fastef.ucad.sn" >Faculté des Sciences et Technologies de l’Education et de la Formation</a></li>
                <li><a href="http://fsjp.ucad.sn" >Faculté des Sciences Juridiques et Politiques</a></li>
            </ul>

        </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
        <a ngbNavLink>ECOLES, CENTRES ET INSTITUTS DE FORMATION</a>
        <ng-template ngbNavContent>
            <ul>
                <li><a href="http://cesti.ucad.sn" >Centre d’Etudes des Sciences et Techniques de l’Information</a></li>
                <li><a href="http://www.ebad.ucad.sn" >Ecole des Bibliothécaires, Archivistes et Documentalistes</a></li>
                <li><a href="http://ensetp.ucad.sn" >Ecole Normale Supérieure d’Enseignement Technique et Professionnel)</a></li>
                <li><a href="http://www.esp.sn" >Ecole Supérieure Polytechnique</a></li>
                <li><a href="http://inseps.ucad.sn" >Institut National Supérieur de l’Education Populaire et du Sport</a></li>
                <li><a href="http://esea.ucad.sn" >Ecole Supérieure d'Economie Appliquée (ESEA - Ex ENEA)</a></li>
            </ul>
        </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
        <a ngbNavLink>INSTITUTS D'UNIVERSITE</a>
        <ng-template ngbNavContent>
            <ul>
                <li><a href="http://ifan.ucad.sn" >Institut Fondamental d’Afrique Noire (IFAN)</a></li>
                <li><a href="http://www.bu.ucad.sn" >Bibliothéque universitaire (BU)</a></li>
                <li><a href="http://ifee.ucad.sn" >Institut de Français pour les Etudiants Etrangers (IFEE)</a></li>
                <li><a href="http://irempt.ucad.sn" >Institut de Recherche pour l’Enseignement de la Mathématique, de la Physique et de la Technologie (IREMPT)</a></li>
                <li><a href="http://ips.ucad.sn" >Institut de Pédiatrie Sociale (IPS)</a></li>
                <li><a href="http://196.1.95.4/ise/index_ISE.htm" >Institut des Sciences de l’Environnement (ISE)</a></li>
                <li><a href="http://ipdsr.ucad.sn" >Institut de formation et de recherche en Population Développement et Santé de la Reproduction (IPDSR)</a></li>
                <li><a href="http://clad.ucad.sn" >Centre de Linguistique Appliquée de Dakar (CLAD)</a></li>
                <li><a href="https://www.ucad.sn/index.php?option=com_content&view=article&id=1526&Itemid=361" >Institut Universitaire de Pêche et d’Aquaculture (IUPA)</a></li>
                <li><a href="http://www.ised.sn" >Institut de Santé et Développement (ISD)</a></li>
                <li><a href="http://196.1.95.4/cerer/" >Centre d’Etudes et de Recherches sur les Energies Renouvelables (CERER)</a></li>
                <li><a href="http://idhp.ucad.sn" >Institut des Droits de l'Homme et de la Paix (IDHP)</a></li>
                <li><a href="http://isad-ucad.sn" >Institut Supérieur des Arts et des Cultures (ISAC)</a></li>
                <li><a href="https://www.ucad.sn/index.php?option=com_content&view=article&id=3188:2019-08-08-10-14-50&catid=136:communiques&Itemid=315" >Institut de Formation en Administration et en Création d'Entreprises (IFACE)</a></li>
            </ul>
        </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
        <a ngbNavLink>PARTENAIRES</a>
        <ng-template ngbNavContent>
            <ul>
                <li><a href="http://www.lecames.org" >Conseil Africain et Malgache pour l'Enseignement Supérieur (CAMES)</a></li>
                <li><a href="http://www.aau.org/aau_fr/" >Association des Universités Africaines (AUA)</a></li>
                <li><a href="http://www.auf.org" >Agence Universitaire de la Francophonie (AUF)</a></li>
                <li><a href="#" >Réseau pour l'excellence de l'enseignement supérieur en Afrique de l'ouest (REESAO)</a></li>
                <li><a href="http://www.recherche.gouv.sn" >Ministère de l’Enseignement supérieur, des Universités et des Centres universitaires Régionaux et de la Recherche Scientifique</a></li>
                <li><a href="http://www.anacsup.sn" >Autorité Nationale d'Assurance Qualité de l'Enseignement Supérieur</a></li>
            </ul>
        </ng-template>
    </ng-container>
</nav>

<div [ngbNavOutlet]="nav" class="mt-2"></div>


